*{
    outline: dotted 1px orangered;
}

.center {
    width: 900px;
    text-align: center;
    margin:0 auto;
}

.delicious {
    font-family: 'Marck Script', cursive;
}

#logotop {
    float: left;
}

#logos {
    float: right;
}

#heropicture {
    clear: both;
}

h1 {
    font-size: 50px;
}